@font-face {
	font-family: "Maledpan";
	src: url('https://www.jabont.com/jayss/fonts/maledpan/maledpan.woff2') format('woff2');
	font-weight: 500;
}
@font-face {
	font-family: "Maledpan";
	src: url('https://www.jabont.com/jayss/fonts/maledpan/maledpan-bold.woff2') format('woff2');
	font-weight: 700;
}
.maledpan{
	font-family: 'Maledpan',-apple-system, BlinkMacSystemFont, sans-serif !important;
}

@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.fahkwang{
    font-family: 'Fahkwang', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


body{
    background-color: black;
    font-family: 'Bai Jamjuree', sans-serif;
    padding-bottom: 5rem;
    scroll-behavior: smooth;
}

:root{
    --pink:#FB1383;
    --orange:#FB4015;
    --yellow:#FBD913;
    --blue:#13D1FB;
}

.text-pink{
    color: var(--pink);
}
.text-orange{
    color: var(--orange);
}
.text-yellow{
    color: var(--yellow);
}
.text-blue{
    color: var(--blue);
}
.bg-pink{
    background-color: var(--pink);
}
.bg-orange{
    background-color: var(--orange);
}
.bg-yellow{
    background-color: var(--yellow);
}
.bg-blue{
    background-color: var(--blue);
}

.text-shadow{
    text-shadow:  1.75px 1.75px 3px rgba(0, 0, 0, 0.6);;
}

.timeline{
    position: relative;
    
    box-sizing: border-box;
}
.timeline:before{
    content: '';
    position: absolute;
    left: 0%;
    width: 2px;
    height: 50%;
    background: #c5c5c5;
    
}
.timeline ul{
    margin: 0;
    padding: 0;
}
.timeline ul li{
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}
.timeline li{
    float: left;
    text-align: right;
    clear: both;
}

.content{
    padding-bottom: 20px;
}
.timeline li:before{
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 0 0 3px(233,33,99,0.2);
}

.timeline ul li p{
    margin: 10px 0 0;
    padding: 0%;
}


/* a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  } */
li{
  list-style: none;}
.mynavber{
    width: 100vw;
    height: 2rem;
    background-color: #FB1383;
}  

.space{
    padding-top: 9.5rem;

}

p{
    font-family: 'Bai Jamjuree', sans-serif !important;
}

/* .footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #263238;
    text-align: center;
    color: #f4f4f4;
}

.icons{
    padding-top: 1rem;
}

.icons a{
    text-decoration: none;
    font-size: 2rem;
    margin: 0.5rem;
    color: #f4f4f4;
}

.company-name{
    font-size: 1.6rem;
    margin-top: 0.5rem;
}

@media (max-width: 500px){
    html{
        font-size: 50%;
    }
}    

@media(min-width: 501px) and (max-width: 768px){
    html{
    font-size: 50%;
    }
}     */
